<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <% include ./Model/header.ejs %>
    <title><%= title %></title>
  </head>
  <body>
  <% include ./Model/bodyHeader.ejs %>
  <div id="mainBox">
    <% include ./Model/bodyMain.ejs %>
  </div>
  <% include ./Model/bodyFooter.ejs %>
  </body>
  <% include ./Model/footer.ejs %>
</html>
